.corefeaturesection {
  background-size: 2000px 100%;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.moveImage {
  animation: 10s infinite linear moveImage1;
}

@keyframes moveImage1 {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}

/************/
.ctaBg {
  background-size: 200% 100%;
}

.ctaSection {
  min-height: 880px;
  background-size: 100% 100%;
}

@media screen and (min-width: 1024px) {
  .ctaBg {
    background-size: 100% 100%;
  }

  .ctaSection {
    min-height: 529px;
  }
}
